cmake-build*
.idea
CMakeLists.txt.user
/build
/build-*
/build_*
/bin
/external/build
external/install*
ba_log.json
ba_log.ubjson
__pycache__
/*.cereal
/rootba_config.toml
.vscode
# generic:
.DS_Store
*~
